 /* THREE COLUMN LIQUID CENTER LAYOUT */
 
 body {font: .8em verdana, arial, sans-serif;}
 * {margin:0; padding:0;}
 div#main_wrapper {min-width:760px; max-width:880px;  margin-left:auto; margin-right:auto;} /* centers layout when > max width */
 div#header {
     width:auto;
 }
 #threecolwrap {
     float:left;
     width:100%;
     background:url(images/3_col_faux_art_right.gif) repeat-y right;
 }
 #twocolwrap {
     float:left;
     width:100%;
     display:inline; /* stops IE doubling  margin on float*/
     margin-right:-170px; /* CWS - neg margin move */
     background: url(images/3_col_faux_art_left.gif) repeat-y left;
 }
 #nav {
     float:left;
     width:150px;
     display:inline; /* stops IE doubling  margin on float*/
 }
 #content {
     width:auto;
     margin-left:150px;
     margin-right:170px;
 }
 #promo {
     float:left;
     width:170px; 
 }
 #footer {
     width:100%;
     clear:both; 
 }
 /* end of structural styles */ 
 
 /* inner div margin */
 #header_inner, #nav_inner, #content_inner, #promo_inner {
     overflow:hidden; /* prevents oversize elements from breaking the layout */
 }
 #header_inner {
     padding:1em 2em;
 }
 #nav_inner, #promo_inner {
     padding:.5em .5em 1em 1em;
 }
 #content_inner {
     padding:0 1em 1em 1.5em;
 }
 #footer_inner {
     padding:.5em 5em;
     text-align:center;
 }
 /* end inner div margins */