/*
Author: Tricia A. Jimenez
Class/Section: COIN 65-02W, Spring 2009
*/

body { 
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #000;
    background-color: #FFF;
}

/* Horizontal Menu */
div#topnav {
    float: left; 
    color: #000;
    background-color: #66F;
    /*border-bottom: 1px solid green;
    border-top: 1px solid green;*/
    width: 100%;
}

div#topnav ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    /*width: 100%;*/
    width: 40em;  /* non-wrapping horizontal menu - produces horizontal scrollbar */
}

div#topnav li {
    display: inline;
}

div#topnav a {
    display: block;
    float: left; 
    padding: .2em 1em;
    text-decoration: none;
    color: #000; 
    background-color: #66F;
    border-right: 1px solid #fff;
    width: 4em; 
    text-align: center;
    font-family: Arial;
}

div#topnav a:hover {
    color: #FFF;
    background-color: #6FF;
}

/* ----------------------------------------------------- */
/* Vertical Menu */
div#sidebar {
    position: absolute;
    top: 46px;
    left: 5px;
    width: 6em;
    /* for testing location */
    /*border: 1px solid green;*/
}


div#sidebar ul { 
    margin: 0;
    padding: 0;
    list-style-type: none; 
}  

ul#backgroundBullets {
    padding-left: 10px;
    margin-left: 0;
} 

/*Position the image all the way to the left of the content area, but centered vertically:*/
#backgroundBullets li,
#backgroundBullets li:hover { 
    padding-left: 30px;
    list-style: none; 
    background-repeat: no-repeat;
    background-position: left center;
} 

/*If the user isn't hovering over the list item, don't display an image marker:*/
#backgroundBullets li { 
    background-image: none;
} 

#backgroundBullets li:hover {
    background-image: url(images/Morpho-Diana-icon.jpg);
}

div#sidebar a { 
    display: block;
    text-decoration: none;
    background: #CCF;
    color: #333; 
    padding: .2em .5em; 
    border-bottom: 2px solid #fff;
    width: 5em;
}

div#content {
    position: absolute;
    top: 46px;
    left: 150px;
    margin-right: 20px;
}